<html>
    <head>
        <title>word usage...</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <h2>Comparing the frequency of different terms in reddit comments</h2>
        <p>This doesn't have much error handling/validation yet, so please make sure to:</p>
        <ul style="list-style-type:circle">
            <li>Enclose a term in quotation marks if it contains multiple words</li>
            <li>Enter the month in MM format and the year in YYYY format</li>
            <li>Search for a date range between 12/2005 and the current month</li>
        </ul>
        <form method="POST" class="post-form">
            {% csrf_token %}
                <table cellpadding = "4">
                    {% for field in form %}
                        <tr>
                            <td>{{field.label_tag}}</td>
                            <td>{{field}}</td>
                        </tr>
                    {% endfor %}
                </table>
            <button type="submit">Search</button>
        </form>
        <div style="position: absolute; bottom:  5px">
            <p><small>Reddit data gathered using the <a href="https://github.com/pushshift/api">Pushshift API</a></small></p>
        </div>
    </body>